/*
* Pxlbot CSS v1.0
*/
li { list-style:none; float:left; }

a {
	color: #fff;
	decoration: none;
}

	
body {
	background: #eee;
	font-family: arial;
	font-size: 12px;
}


.theCanvas {
width: 70%;
height: 100%;
float:left;
background: #fff;
}

.partLibrary {
width: 30%;
background: #eee;
float:right;
}

img {
    outline: none;
}

/* Styles for Tabs */

#adv2 {
  width:30%;
  margin:0px auto;
  background:#fff;
  float: left;
}
#adv2 ul {
 display:block;
 width:100px;
 height:50px;

}
#adv2 li { float:left; }
#adv2 li.split { clear:both; }
#adv2 li a {
  height:50px;
  width:50px;
  padding: 5px;
  line-height:25px;
  text-decoration:none;
  background:#444;
}
#adv2 li a:hover {
  background:#000;
}
#adv2 li a.selected {
  background:#fff;
  color:#111;
  font-weight:bold;
}

#adv2 span {
  height:50px;
  line-height:45px;
  width:450px;
  background:#333;
}
