/*
* Pxlbot CSS v1.0
*/
li { list-style:none; float:left; }

a {
	color: #fff;
	decoration: none;
}

	
body {
	background: #eee;
	font-family: arial;
	font-size: 12px;
    overflow: hidden;
}

#loading-bg {
    position: absolute;
    background-color: #DDD;
    width: 100%;
    height: 900px;
    opacity: .35;
}

#load-text {
    font-size: 24px;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
}

.theCanvas {
width: 70%;
    height: 600px;
    background-color: black;
float:left;
background: #fff;
    overflow: hidden;
    z-index: 1;
}

#logo {
    height:80px;
}

.partLibrary {
width: 30%;
background: #eee;
float:right;
    overflow: scroll;
}

.parts-images {
    overflow-y: auto;
    height:460px;
    clear:both;
    padding: 10px;
    margin-top: 50px;
    margin-left:10px;
    border: 1px solid #999;
    z-index: 0;
}

.parts img {
    padding-right:10px;
}

img {
    outline: none;
}

/* Styles for Tabs */

#adv2 {
  margin:0px auto;
  background:#eee;
}
#adv2 ul {
    float:left;
 width:100px;
 height:50px;

}
#adv2 li {  }
#adv2 li.split {  }
#adv2 li a {
  height:50px;
  width:50px;
  padding: 5px;
  line-height:25px;
  text-decoration:none;
  background:#444;
}
#adv2 li a:hover {
  background:#000;
}
#adv2 li a.selected {
  background:#fff;
  color:#111;
  font-weight:bold;
}

#adv2 span {
  height:50px;
  line-height:45px;
  width:450px;
  background:#333;
}

.save-area {
position: absolute;
clear: both;
top: 665px;
left: 20px;
}

a.download-link {
    color: #cc0000;
}
